[data-theme="light"] .chrome__content .highlight table td { padding: 5px; }
[data-theme="light"] .chrome__content .highlight table pre { margin: 0; }
[data-theme="light"] .chrome__content .highlight, .highlight .w {
  color: #24292f;
  background-color: #f6f8fa;
}
[data-theme="light"] .chrome__content .highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #cf222e;
}
[data-theme="light"] .chrome__content .highlight .gr {
  color: #f6f8fa;
}
[data-theme="light"] .chrome__content .highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}
[data-theme="light"] .chrome__content .highlight .nb {
  color: #953800;
}
[data-theme="light"] .chrome__content .highlight .nc {
  color: #953800;
}
[data-theme="light"] .chrome__content .highlight .no {
  color: #953800;
}
[data-theme="light"] .chrome__content .highlight .nn {
  color: #953800;
}
[data-theme="light"] .chrome__content .highlight .sr {
  color: #116329;
}
[data-theme="light"] .chrome__content .highlight .na {
  color: #116329;
}
[data-theme="light"] .chrome__content .highlight .nt {
  color: #116329;
}
[data-theme="light"] .chrome__content .highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}
[data-theme="light"] .chrome__content .highlight .ges {
  font-weight: bold;
  font-style: italic;
}
[data-theme="light"] .chrome__content .highlight .kc {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .sb {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .bp {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .ne {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .nl {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .py {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .o, .highlight .ow {
  color: #0550ae;
}
[data-theme="light"] .chrome__content .highlight .gh {
  color: #0550ae;
  font-weight: bold;
}
[data-theme="light"] .chrome__content .highlight .gu {
  color: #0550ae;
  font-weight: bold;
}
[data-theme="light"] .chrome__content .highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #0a3069;
}
[data-theme="light"] .chrome__content .highlight .nd {
  color: #8250df;
}
[data-theme="light"] .chrome__content .highlight .nf, .highlight .fm {
  color: #8250df;
}
[data-theme="light"] .chrome__content .highlight .err {
  color: #f6f8fa;
  background-color: #82071e;
}
[data-theme="light"] .chrome__content .highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6e7781;
}
[data-theme="light"] .chrome__content .highlight .gl {
  color: #6e7781;
}
[data-theme="light"] .chrome__content .highlight .gt {
  color: #6e7781;
}
[data-theme="light"] .chrome__content .highlight .ni {
  color: #24292f;
}
[data-theme="light"] .chrome__content .highlight .si {
  color: #24292f;
}
[data-theme="light"] .chrome__content .highlight .ge {
  color: #24292f;
  font-style: italic;
}
[data-theme="light"] .chrome__content .highlight .gs {
  color: #24292f;
  font-weight: bold;
}
